.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.navigation-link {
  position: relative;
  display:flex;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

/* .navigation-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.navigation-link:after {
  background: #FFBB01;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

.navigation-link:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
} */

.navigation-link::before{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -100%;
  width: 100%;
  height: 4px;
  background: #FFBB01;
  transition: 0.5s;
}

.navigation-link:hover {
  color: black;
}

.navigation-link:hover::before {
  animation: animate .2s linear forwards; 
}

@keyframes animate {
  0% {
    top: calc(50% - 2px);
    left: -100%;
    height: 4px;
    z-index: 1;
  }
  50% {
    top: calc(50% - 2px);
    left: 0;
    height: 4px;
    z-index: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

.logo {
  height: 100px;
}

.hero-content_introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content_aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hello-text {
  font-weight: 500;
  margin:0;
}

.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #FFBB01;
  margin-bottom: 14px;
}

.hero-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
  word-wrap:normal;
  min-width: 250px;
}

.hero-description {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 50px;
}

.social-links {
  display: flex;
  margin-bottom: 30px;
}

.social-link {
  margin-left: 20px;
}

.social-link:first-child{
  margin-left: 0;
}

.social-link img {
  width: 30px;
  height: 30px;
}

.show-resume {
  width: 150px;
  background-color: transparent;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  height: 30px;
  border: 2px solid #FFBB01;
  border-radius: 40px;
  padding: 10px;
  text-decoration: none;
  transition-duration: .2s;
}

.show-resume:hover {
  color:black;
  background-color: #FFBB01;
  box-shadow:none;
  transition-duration: .2s;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 5px solid #fff;
}

.hero-avatar-2 {
  width: 389px;
  height: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/avatar2.jpg);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: bottom left;
  border: 5px solid #fff;
}