.project-pazzle {
  display: flex;
  max-width: 945px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.single-project {
  width: 315px;
  height: 270px;
}

.single-project:hover .project-image {
  opacity: 0.1;
  transition: .5s;
}

.single-project:hover .project-buttons-container {
  opacity: 100;
  transition:.5s;
}

.project-image {
  width: 315px;
  height: 200px;
<<<<<<< HEAD
}

.project-buttons-container {
  display: flex;
  width: 300px;
  position: fixed;
  margin-top: 80px;
  justify-content: space-around;
  padding: 10px;
  opacity: 0;
  z-index: 1;
}

.project-button {
  position: relative;
  color: white;
  background-color: black;
  padding: 10px;
  border: 2px solid#FFBB01;
  border-radius: 25px;
}

.project-button:hover {
  color: black;
  background-color: #FFBB01;
  cursor: pointer;
  transition: .5s;
=======
>>>>>>> 92d8706964ac50da8dafbfb2e40da4bd5602349c
}

.project-info {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.project-title-year {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.project-category {
  font-size: 12px;
}

.project-title_last-project {
  text-transform: uppercase;
  font-weight: bold;
}

.project-year {
  font-weight: bold;
}