* {
  box-sizing: border-box;
}

body {
  background-color: #20202D;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.hero {
  padding-top: 50px;
  padding-bottom: 155px;
  background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}

.container {
  max-width: 945px;
  margin: auto;
}

.section {
  padding-top: 64px;
  padding-bottom: 92px;
}

.section-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 42px;
}

/* features */

.features {
  background-color: black;

}

.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}

.features-image {
  display: block;
  margin-bottom: 22px;
}

.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.features-text{
  font-weight: normal;
  font-size:16px;
  line-height:28px;
  margin:0;
}

/* projects */
.projects {
  background: linear-gradient(180deg, #000000 0.01%, rgba(0,0,0,0) 95.44%);
}

.projects-slide{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project-text{
  display: flex;
  flex-basis: 60%;
  flex-wrap: wrap;
}

.project-title{
  flex-basis: 100%;
  font-weight: bold;
  font-size:24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 41px;
}

.project-time, .project-cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}

.project-time, .project-cost, .project-feedback{
  display: flex;
  align-items: flex-start;
}

.project-subtitle {
  margin: 0;
  font-weight: bold;
  font-size:18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.project-paragraph{
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.project-icon{
  margin-right: 16px;
}

.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}

.projects-bullet {
  height: 10px;
  width:10px;
  border: 2px solid #FFBB01;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.projects-bullet-active{
  background-color: #FFBB01;
}

.slider-preview{
  width: 328px;
  height: 268px;
}

.contacts-block {
  display: flex;
  align-items: center;
}

.contacts-data{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 42px;;
}

.cotacts-text{
  width:50%;
}

.contacts-phone, .contacts-mail{
  flex-basis:50%;
  margin-bottom: 53px;
}

.contacts-social{
  flex-basis: 100%;
}

.contacts-title{
  font-weight:bold;
  font-size:24px;
  line-height:28px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-link{
  text-decoration: none;
  color: inherit;
  margin-right: 37px;;
}

.contacts-link:hover{
  text-decoration: underline;
}

.contacts-policy{
  display: inline-block;
  font-size:15px;
  line-height: 18px;
  color:#A5A5A5;
  margin-top: 42px;
}